*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-size: 16px;
}

li{
    list-style: none;
}

nav, 
.nav-section{
    display: flex;
    align-items: center;
}

nav{
    background-color: white;
    height: 100px;
}

.nav-section{
    justify-content: space-between;
    width: 30%;
    padding: 30px;
}

.img-style{
    margin: 0px 90px 0px 20px;
}

.nav-section a{
    padding: 45px 10px;
}

.nav-section a:hover{
    background-color: rgb(114, 27, 5);
}

.container{
    width: auto;
    height: 70px;
}

.box1{
    width: auto;
    height: 5%;
    background-color: rgb(114, 27, 5);
}

.box2{
    width: auto;
    height: 80%;
    background-color: #10882e;
}

.box3{
    width: auto;
    height: 15%;
    background-color: gainsboro;
}

.box3 h